{% extends "fitness/layout.html" %}

{% block body %}

    <h2>Set Profile</h2>

    <form action="{% url 'set profile' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group row">
                <label class="col-2 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}: </label>
                <div>
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Set Profile">
    </form>


{% endblock %}